<html>
  <head></head>
<<<<<<< HEAD
  <body>
    <p>
        Fibonacci(<%= fibonacci%>) = <%= fibonacci_calculated %>
    <p>
    <a href="/">Back to main</a>
=======
  <body style="background-color: <%=GlobalState[:new_color]%>">
    <p>
        Fibonacci(<%= fibonacci%>) = <%= fibonacci_calculated %>
    <p>
	<a href="/">Back to main</a>
>>>>>>> d9f1d1af99009699cd143a7185d1a5c7843e5535
  </body>
</html>
